QMainWindow {
   background-color: white;
}
#loginBox, #stockBox {
   background-color: #2d2d2d;
   border-radius: 15px;
   padding: 20px;
}

#loginBox, #stockBox QLabel {
   color: white;
   font-weight: bold;
}

QLineEdit {
   background-color: white;
   border: 1px solid gray;
   border-radius: 5px;
   padding: 5px;
   color: black;
}
